* {
    margin: 0;
    padding: 0;
    user-select: none;
    cursor: default;
    overflow: hidden;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: monospace;
}

#root {
    display: flex;
    margin: 10px;
}

#sidebar {
    width: 20%;
    height: 100vh-20px;
    background-color: black;
    text-align: center;
    margin: 10px;
    overflow: visible;
}

#log {
    height: 95vh;
    /* fade out contents at the bottom */
    mask-image: linear-gradient(to bottom, black 50%, transparent);
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent);
}

#main {
    width: 80%;
    height: 100vh;
    margin: 10px;
}

#actions, #buildings {
    height: 50vh;
}

#sidebar-right {
    width: 15%;
    text-align: center;
    margin: 10px;
}

button {
    border: 1px solid #cccccc;
    color: white;
    background-color: black;
    font-family: monospace;
    padding: 3px;
    margin: 3px;
}

button:hover {
    border: 1px solid white;
}
